git+https://github.com/shigabeev/demucs
torch==2.2.2
numpy==1.26.4
coqui-tts
boto3
botocore
celery
fastapi
pydantic
sqlalchemy
uvicorn
psycopg2-binary
redis
yt-dlp
librosa
cattrs
attrs
pandas
pydub
git+https://github.com/resemble-ai/resemble-enhance/
git+https://github.com/shigabeev/OpenVoice
huggingface-hub==0.23.4
tokenizers==0.19.1
transformers==4.42.3
pyrubberband
deepl
git+https://github.com/facebookresearch/seamless_communication