git+https://github.com/shigabeev/demucs
torch==2.3.0
coqui-tts
boto3
botocore
celery
fastapi
pydantic
sqlalchemy
uvicorn
psycopg2-binary
redis
yt-dlp
librosa
cattrs
attrs
pandas
pydub
git+https://github.com/resemble-ai/resemble-enhance/